

.main-header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
}

form {
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 8px;
}

.form-item {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: bold;
}

.hasil {
    display: grid
    ;
        justify-items: center;
        padding: 16px;
        border-radius: 8px;
        background-color: whitesmoke;
}

.hitung {
    background-color: cyan;
}

.download {
    background-color: cyan;
}

.konsultasi {
    background-color: cyan;
}

.registrasi {
    background-color: cyan;
}

.by {
    font-weight: bold; 
    font-size: x-large;
}

input[type=number] {
    box-sizing: border-box;
}

@media only screen and (max-width: 540px) {
    main {
        flex-direction: column;
    }
}